{load_language_text section="module_center_module"}


<div class="mollie-issuers {{if $mollie.isLegacy}}mollie-hidden{{/if}}">
    {if $mollie.list_type == 'dropdown'}
    <div class="mollie-issuer-dropdown-wrapper">
        <label for="{{$mollie.payment_method}}-issuer">
            {$txt.mollie_select_bank}
        </label>
        <select id="{{$mollie.payment_method}}-issuer" class="mollie-issuer-dropdown" name="{{$mollie.payment_method}}-issuer">
            {foreach item=module_data from=$mollie.issuers}
                <option value="{{$module_data.id}}">{$module_data.name}</option>
            {/foreach}
        </select>
    </div>
    {else}
        <div class="mollie-issuer-list-wrapper">
            <div class="issuer-list-label">{$txt.mollie_select_bank}</div>
            <ul>
                <input type="hidden" class="issuer-list-value" name="{{$mollie.payment_method}}-issuer" value="{{$mollie.issuers.0.id}}">
                {assign var=isFirst value='1'}
                {foreach item=module_data from=$mollie.issuers}

                <li>
                    <label>
                        <img src="{{$module_data.image.svg}}">
                        <span>{$module_data.name}</span>
                        <input class="mollie-issuer-list" type="radio" name="{{$module_data.id}}" value="{{$module_data.id}}" {{if $isFirst == '1'}}checked{{/if}}>
                        {assign var=isFirst value='0'}
                    </label>
                </li>
                {/foreach}
            </ul>
        </div>
    {/if}

</div>

